<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
</head>
<body>

<!--<div class="fluid-container">-->
    <!--<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary ">-->
        <!--<a class="navbar-brand" href="#">GeekSpring</a>-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
        <!--<div class="collapse navbar-collapse" id="navbarNav">-->
            <!--<ul class="navbar-nav">-->
                <!--<li class="nav-item active">-->
                    <!--<a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Students List</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Courses Info</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</nav>-->
    <!--<div class="visible-md" style="height:80px;"> </div>-->
<!--</div>-->

<div class="container">
    <h1>Welcome page</h1>
    <h2>Index:</h2>
    <br>
    <a href="/students/list">Show students list</a>
    <br>
    <a href="/students/add">Add new student</a>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</body>
</html>