<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(None)}"/>

<div class="container" style="max-width: 1600px">
    <br>
    <h1>@GeekMarket</h1>
    <form th:action="@{/shop/add}" th:object="${product}" method="post">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Категория</th>
                <th>Артикул</th>
                <th>Название товара</th>
                <th>Описание</th>
                <th>Детали</th>
                <th>Цена</th>
                <th></th>
            </tr>
            </thead>

            <tr class="responsive-row">
                <td>
                    <select th:field="*{category}">
                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:utext="${category.title}">
                        </option>
                    </select>
                </td>
                <td>
                    <input type="text" name="vendor_code" cols="10" th:field="*{vendorCode}">
                </td>
                <td>
                    <input type="text" name="title" cols="10" th:field="*{title}">
                </td>
                <td>
                    <input type="text" name="full_description" cols="10" th:field="*{fullDescription}">
                </td>
                <td>
                    <input type="text" name="short_description" cols="10" th:field="*{shortDescription}">
                </td>
                <td>
                    <input type="text" name="price" cols="10" th:field="*{price}">
                </td>
                <td>
                    <button name="addProduct" type="submit" class="btn btn-danger">add</button>
                <td/>
            </tr>
        </table>
    </form>
</div>

</body>
</html>