<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>

    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<div class="container">
    <br>
    <h1>Оформление заказа</h1>
    <form th:action="@{/shop/order/confirm}" th:object="${order}" method="post" class="form-horizontal">

        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Название товара</th>
                <th>Количество</th>
                <th>Стоимость</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderItem : ${order.orderItems}">
                <td th:text="${orderItem.product.title}"/>
                <td th:text="${orderItem.quantity}"/>
                <td th:text="${orderItem.totalPrice}"/>
            </tr>
            <tr>
                <td>Итоговая сумма</td>
                <td/>
                <td th:text="${order.price}"/>
            </tr>
            </tbody>
        </table>

        <div th:if="${order.confirmed == false}">
            <span>Укажите адрес доставки</span>
            <input type="text" th:field="*{deliveryAddress}" class="form-control input-sm">
            <br>
            <span>Укажите номер телефона</span>
            <input type="text" th:field="*{phoneNumber}" class="form-control input-sm">
        </div>
        <div th:unless="${order.confirmed == false}">
            <span th:text="'Адрес доставки: ' + ${order.deliveryAddress}" th:field="*{deliveryAddress}"/>
            <span th:text="'Номер телефона: ' + ${order.phoneNumber}" th:field="*{phoneNumber}"/>
        </div>

        <br>
        <div style="margin-top: 10px" class="form-group" th:if="${order.confirmed == false}">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">Готово</button>
            </div>
        </div>

    </form>

    <br>
    <script th:if="${order.confirmed == true}">
        paypal.Button.render({
            env: 'sandbox',

            client: {
                sandbox:    'x',
                production:     ''
            },

            // Pass the payment details for your transaction
            // See https://developer.paypal.com/docs/api/payments/#payment_create for the expected json parameters

            payment: function(data, actions) {
                return actions.payment.create({
                    "intent": "sale",
                    "payer": {
                        "payment_method": "paypal"
                    },
                    transactions: [
                        {
                            amount: {
                                total:    '1.00',
                                currency: 'RUB'
                            }
                        }
                    ]
                });
            },

            commit: true,

            onAuthorize: function(data, actions) {
                var res = null;
                return actions.payment.execute().then(function(response) {
                    console.log('The payment was completed!');
                    res = JSON.stringify(response);
                    <!--console.log(response);-->
                }).then(function() {
                    $.post("http://localhost:8189/geekmarket/shop/ready", {"response": res}).done(function() {
                        window.location.replace("http://localhost:8189/geekmarket/shop/ready");
                    });
                });
            },

            onCancel: function(data) {
                console.log('The payment was cancelled!');
            },

            <!--"redirect_urls": {-->
                <!--"return_url": "http://localhost:8189/shop/ready",-->
                <!--"cancel_url": "https://example.com/cancel"-->
            <!--}-->

        }, '.container');
    </script>
    <br>
    <a type="button" class="btn btn-primary" th:href="@{/}">Вернуться на главную страницу</a>
</div>
</body>
</html>